<html>
	<head>
		<title>Delete {{html .Filename}}</title>
	</head>
	<body>
		<h1>Delete {{html .Filename}}</h1>
		<form method="POST">
			<input type="submit">
		</form>
		<a href="{{.Logout}}">Logout</a>
	</body>
</html>

