<!doctype html>
<html>
	<head>
		<title>Edit {{html .Filename}}</title>
	<body>
		<form action="/post/{{html .Filename}}" method="POST" enctype="multipart/form-data">
			Title: <input type="text" name="title" value="{{html .Filename}}"><br>
			<textarea rows="26" cols="80" name="content">{{.Content}}</textarea><br>
			<input type="submit">
		</form>
		<a href="/delete/{{html .Filename}}">Delete</a><br>
    		<a href="{{.Logout}}">Logout</a>

	</body>
</html>

